---
---

$raleway: 'Raleway', sans-serif;
$maitree: 'Maitree', serif;

body {
  font-family: $raleway;
  margin: 0 auto;
  padding: 20px 40px;
  //background-color: #F4FCF7;  //#FAF8DC; //#FBFAEA;

  header {
    width: 100%;
    text-align: center;
    background-color: #5daaa7;
    padding: 20px 0;
  }

  .data-header {
    font-family: 'Playfair Display', serif;
  }

  .data-copy {
    max-width: 450px;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    .back-btn {
      display: block;
      color: black;
      //text-decoration: none;
      //font-weight: bold;
      margin-top: 20px;
      &:hover {
        font-weight: bold;
      }
    }
  }


  .percent-bd {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    pointer-events: none;
  }

  .btn-wrapper {
      width: 450px;
      margin-left: 10%;
      display: none;
      vertical-align: top;
      .filter-btn {
        display: inline-block;
        margin: 10px;
        background-color: white;
        color: black;
        border: 1px solid black;
        padding: 10px 15px;
        text-align: center;
        width: 120px;
        font-family: "Raleway", sans-serif;

        &:hover {
          background-color: black;
          color: white;
          cursor: pointer;
        }
      }
    }

  .color-scale {
    display: inline-block;
    padding: 10px 27px;
    vertical-align: top;
    .color {
      display: inline-block;
      margin-right: 16px;
      span { width: 100px; }
      div {
        display: inline-block;
        width: 20px;
        height: 10px;
        margin-top: 5px;
        text-align: center;
        &.sad { background-color: #7B7B7B;}
        &.ok { background-color: #7EC27E;}
        &.happy { background-color: #ff0;} // "#7B7B7B", "#7EC27E", "#ff0"
      }
    }
  }

  .main-wrapper {
    width: 100%;
    margin: 40px 0;

    &--countries {
      display: block;
      position: relative;
      .country {
       // width: 100px;
        //height: 150px;
        display: inline-block;
        margin: 15px 10px;
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
        &--svg {
          width: 100%;
          height: 1200px;
        }
        &--name {
          margin: 5px 0;
          font-family: 'Playfair Display', serif;
        }
        &--block {
          width: 100px;
          height: 100px;
          background-color: gray;
        }
      }
      .avg {
        font-family: $maitree;
        font-weight: bold;
        pointer-events: none;
        font-size: 44px;
        color: white;
        position: fixed;
        top: 50px;
        left: 20px;
      }
    }

    &--data {
      display: none;
      .data-wrapper {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        position: relative;
        svg {
          display: block;
          position: absolute;
          top: 0;
        }
        .category {
          margin: 0 20px;
          display: inline-block;
          width: 25%;
          height: 200px;
          font-family: 'Playfair Display', serif;
          position: relative;
          //z-index: 10;
        }
        .percent-wrap {
          $wh: 300px;
          position: absolute;
          top: 10%;
          left: 10%;
          pointer-events: none;
          //background-color: black;
          .inner-wrap {
            position: relative;
            //background-color: red;
            width: $wh;
            height: $wh;
            .percent {
              background-color: black;
              font-family: $maitree;
              color: white;
              //margin: 20px;
              padding: 10px;
              position: absolute;
              top: 0;
              left: 0;
              display: inline-block;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              text-align: center;

              span {
                display: block;
                &.rating {
                  //font-size: 14px;
                  //line-height: 10px;
                }
                &.num {
                  //line-height: 10px;
                  //font-size: 15px;
                }
              }
            }
          }

          
        }
      }
    }
  }


  main {
    padding: 20px 10px;
  }

  article {
    margin-bottom: 60px;
  }

  .btn {
    display: inline-block;
    margin: 20px 10px;
    background-color: #5caba6;
    border: 2px solid #5caba6;
    padding: 10px;
    &:hover {
      background-color: #e7cb69;
    }
    cursor: pointer;
  }

  svg {
    &#kandinsky {
      display: block;
      &.enlarge {
        transform-origin: top left;
        transform: scale(2);
        width: 648px;
        height: 255px;
      }
      &.shrink {
        width: 648px;
        height: 255px;
      }
    }
  }
}
@mixin borderRadius($radius: 5px) {
-webkit-border-radius: $radius;
   -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}

.trace {
  display: block;
}

.clear {
  clear: both;
}

.divider {
  display: block;
  width: 96%;
  background-color: #ccff99;
  padding: 10px 2%;
}

.container {
  position: relative;
  width: 100%;
  height: 510px;
}
