<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8" /> <!-- Meta Charset - Tells your computer what character set/encoding to use.  D3 needs this. -->
      <!-- logic uses curly bracket the percentage, which is template logic -->
    <meta name="viewport" content="width=device-width">
	  <title>
      {% if page.title %}
        This page is: {{ page.title }}
      {% else %}
        My Non-Existent Self and I
      {% endif %}
    </title>
		<!-- Bookmarks and SEO (Google ranks searches and if you have a better ranking, the site shows higher on the list)
	 			 Search engines go to ever page on the website and try to get as much info it can read in every page -->
		<link rel="stylesheet" href="../style.css" />
    <script src="script.js"></script>
	</head>
	<body>
    <header>
      <h1>Hello.  This is Ari.</h1>
    </header>
    <main>
      <h2>{{ page.subheader }}</h2>
      {{ content }}
    </main>
	</body>
</html>
